/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 40px;
    background-image: linear-gradient(#636162, #b2afaf);
    font-weight: bold;
}

.heading, .heading2 {
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
}

.resume-container {
    width: 80%;
    display: flex;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.left-section {
    background-color: #fbb03b;
    color: white;
    padding: 30px;
    width: 35%;
    text-align: center;
    border-right: 1px solid #e63946;
}

.profile-img {
    background-color: #ddd;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #b2afaf;
    margin: 20px auto;
    display: block;
    box-shadow: 6px 7px 9px 5px #07040073;
}

.right-section {
    padding: 20px;
    width: 65%;
}

h1 {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

h3, button {
    background-color: #fbb03b;
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: #4d4d4d;
    border-radius: 10px;
    box-shadow: 0 0 15px #4d4d4d;
    width: 100%;
    max-width: 500px;
}

button:hover {
    background-color: #68fb3b;
}

/* Responsive Design */
@media (max-width: 768px) {
    .resume-container {
        flex-direction: column;
        width: 95%;
    }
    .left-section, .right-section {
        width: 100%;
        text-align: center;
    }
    .profile-img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 600px) {
    .profile-img {
        width: 80px;
        height: 80px;
    }
    .resume-container {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {
    body {
        text-align: center;
        padding: 20px;
    }
}
